    <h2>Et voici plus d'infos sur la ville de l'auteur: </h2>

    <p><strong>Le nom de la ville :</strong> <%= City.find(params['id']).name%></p>
    <p><strong>Et tous les potins écrits par des auteurs de cette ville : </strong></p>
